.footer{
    background-color: #001A42;
    color: #FFFFFF;
    padding-top: 4em;
    
}

.all-footer{
    display: flex;
    justify-content: space-around;
}
.about-snt{
    display: flex;
    flex-direction: column;
}

.socials{
    display: flex;
    gap: 1em;
    height: 1em;
}
.coy, .help, .resources{
    display: flex;
    flex-direction: column;
}

.more, .more-help, .more-resources{
    display: flex;
    flex-direction: column;
}